@media screen and (max-width: 1385px) {
    .footer__gift-parent {
        transform: scale(75%);
        bottom: 0;
        right: -20px;
    }
}

@media screen and (max-width: 1193px) {
    .description {
        row-gap: 80px;
        column-gap: 54px;
        justify-content: center;
    }

    .description__info {
        text-align: center;
    }

    .description__number {
        margin-left: auto;
        margin-right: auto;
    }

    .products__cards {
        row-gap: 136px;
    }

}

@media screen and (max-width: 1178px) {
    .card-center {
        grid-area: 2/2/3/3;
    }
}

@media screen and (max-width: 1085px){
.card-center-top{
    grid-area: 2/2/3/3;
}
}

@media screen and (max-width: 950px ) {
    .main__container {
        flex-wrap: wrap;
        padding-bottom: 0;
    }

    .main__article {
        margin-top: 74px;
        margin-bottom: 41px;
    }

    .main__image-wrapper {
        width: 100%;
        position: relative;
        right: 30px;
        top: -62px;
        display: flex;
        justify-content: flex-end;
    }

    .about__image {
        max-width: 400px;
    }

    .about__image-img {
        width: 100%;
    }
}

@media screen and (max-width: 873px) {

    .order__image-img {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {
    .header__phone {
        display: none;
    }

    .top-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about__container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .about__info {
        margin-bottom: 40px;
    }

    .about__heading {
        max-width: 474px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .about__article {
        max-width: 671px;
        text-align: center;
    }

    .order__container {
        align-items: flex-end;
        flex-direction: row-reverse;
        padding-left: 18px;
        padding-right: 18px;
        column-gap: 0;

    }

    .order__image-strawberry {
        left: -25%;
        transform: scale(0.8);
    }

    @keyframes float {
        0% {
            top: -40px;
        }
        50% {
            top: 10px;
        }
        100% {
            top: -40px;
        }
    }

    .order__image-img {
        position: relative;
        top: 60px;
    }

    .order__image-strawberry2 {
        left: 78vw;
        animation: float2 2s infinite ease-in-out;
    }

    @keyframes float2 {
        0% {
            top: 60px;
        }
        50% {
            top: 90px;
        }
        100% {
            top: 60px;
        }
    }
}

@media screen and (max-width: 659px) {
    .main__container {
        padding-top: 66px;
        padding-bottom: 50px;
    }

    .main__info {
        max-width: revert;
        justify-content: center;
        align-items: center;
    }

    .main__header {
        text-align: center;
    }

    .main__article {
        text-align: center;
    }

    .main__image-wrapper {
        transform: scale(0.75);
        position: revert;
        justify-content: center;
    }

    .card-center {
        grid-area: revert;
    }

    .card-center-top{
        grid-area: revert;
    }

    .order__container {
        overflow: hidden;
        position: relative;
        justify-content: center;
    }

    .order__info {
        background: transparent;
        text-align: center;
    }

    .order__form {
        align-items: center;

    }

    .form-all {
        background: transparent;
    }

    .order__image {
        max-width: 325px;
        position: absolute;
        right: -25%;
    }

    .order__image-img {
        width: 100%;
    }

    .order__image-strawberry {
        left: 0;
    }

    @keyframes float {
        0% {
            top: -75px;
        }
        50% {
            top: -45px;
        }
        100% {
            top: -75px;
        }
    }



    .order__image-strawberry2 {
        left: revert;
        right: -40px;
    }
}

@media screen and (max-width: 595px) {
    .description {
        grid-template-columns: repeat(auto-fill, 185px);
        column-gap: 15px;
        margin-left: -1px;
        margin-right: -1px;
        justify-content: space-between;
    }

    .description__info {
        width: 185px;
    }

    .footer__gift-parent {
        right: -30px;
        bottom: -5px;
    }
}

@media screen and (max-width: 490px) {
    .header__container {
        flex-direction: column;
        row-gap: 30px;
        padding-bottom: 0;
    }

    .main__header {
        font-size: 45px;
    }

    .about__container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .order__form {
        align-items: center;
    }

    .bold {
        align-self: flex-start;
        margin-left: 30px;
    }

    .order__image-strawberry2 {
        right: -20px;
    }

    @keyframes float2 {
        0% {
            top: 180px;
        }
        50% {
            top: 210px;
        }
        100% {
            top: 180px;
        }
    }

    .footer__container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 40px;
    }

    .footer__logo {
        align-items: center;
        order: 1;
    }

    .footer__social{
        order: 3;
    }

    .footer__phone{
        order: 2;
    }

    .rights2{
        order: 4;
    }

    .rights {
        display: none;
    }

    .rights2 {
        display: revert;
    }

}

@media screen and (max-width: 430px) {
    .main__image-img {
        max-width: 350px;
    }

    .description {
        grid-template-columns: repeat(auto-fill, 165px);
    }

    .description__info {
        width: 165px;
    }
}

@media screen and (max-width: 425px){

    .header__burger {
        display: revert;
    }

    .menu {
        display: none;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 50px;
        padding-bottom: 300px;
        background: rgba(7, 7, 7, 0.88);
        z-index: 999;
    }

    .menu__open {
        display: flex;
    }

    .menu-ul-hidden {
        flex-direction: column;
        row-gap: 30px;
    }

    .menu__close {
        display: revert;
        width: 24px;
        height: 24px;
        fill: rgb(255, 176, 29);
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .menu__action {
        font-size: 30px;
        color: rgb(255, 114, 145);
    }

    .header__logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

@media screen and (max-width: 375px) {
    .main__container {
        padding-top: 92px;
        padding-bottom: 7px;
    }

    .main__header {
        font-size: 31px;
    }

    .main__article {
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 16px;
    }

    .about__container {
        padding: 100px 16px;
    }

    .top-container {
        padding-bottom: 60px;
    }

    .about__heading {
        max-width: 316px;
        font-size: 30px;
        margin-bottom: 40px;
    }

    .about__article {
        font-size: 16px;
        margin-bottom: 59px;
    }

    .about__image {
        max-width: 302px;
    }

    .description {
        grid-template-columns: repeat(auto-fill, 165px);
        column-gap: 5px;
        margin-left: -1px;
        margin-right: -1px;
    }

    .description__info {
        width: 165px;
    }

    .description__heading {
        font-size: 18px;
    }

    .description__article {
        font-size: 13px;
    }

    .products__container {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .products__heading {
        margin-bottom: 122px;
    }

    .products__cards {
        row-gap: 142px;
    }

    .order__container {
        padding-top: 100px;
        padding-bottom: 77px;
    }

    .order__heading {
        margin-bottom: 44px;
        font-size: 30px;
        text-align: left;
    }

    .order__article {
        margin-bottom: 60px;
        font-size: 16px;
        text-align: left;
    }

    .bold {
        margin-left: 0;
    }

    .form-all {
        width: 100%;
    }

    .form__btn {
        width: 100%;
    }

    .order__image-img {
        right: -100%;
    }

    .order__image-strawberry {
        left: 160px;
    }

    .order__image-strawberry2 {
        display: none;
    }


    @keyframes float {
        0% {
            top: -85px;
        }
        50% {
            top: -55px;
        }
        100% {
            top: -85px;
        }
    }
}

@media screen and (max-width: 364px) {
    .about__container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .description {
        row-gap: 30px;
    }
}

@media screen and (max-width: 342px) {
    .description {
        justify-content: center;
    }

    .description__info {
        width: 100%;
    }
}
